body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.module {
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  /* height: calc(var(--vh, 1vh) * 100); */
/*   margin: 0 auto;
 *//*   max-width: 100%;
 */  display: flex;
  flex-direction: row;
}


.module_info {
  height: 100vh;
  /* Use vh as a fallback for browsers that do not support Custom Properties */
  /* height: calc(var(--vh, 1vh) * 100); */
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.module__item_map {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  
}

.module__item_info {
  align-items: center;
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  
}

.module__item_sumary-button {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: center;
  background-color: #fff;
  color: #F73859;
}


.btn {
  display: none;/*  */
  z-index: 100000;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: none;
  color: black;
  padding: 16px 21px;
  font-size: 16px;
  cursor: pointer;
}


.map-overlay {
  z-index: 100000;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#legend {
  display: none;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 40px;
  width: 270px;
}

.legend-key {
  border: 1px solid black;
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.legend-value {
  display: inline-block;
  margin-left: 5px;
}


/* slide */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  height: 95vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}


.append-buttons {
  text-align: center;
  padding: 15px;
  margin: 0px;
}

.append-buttons a {
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.summary-list{
  text-align: left;
}


.swiper-slide{
  overflow: auto;
  overflow-x:hidden;
}

.logo {
    margin: 10px 20px 5px;
    height: 60vh;
    width: 40vh;
}

.title {
    text-align: center;
    padding: 10px 0px 0px;
    margin: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: rgb(0, 38, 37);
    font-family: "Charter BT", serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.description {
    padding: 0px;
    margin:  0px 20px 0px;
    word-wrap: break-word;
    color: rgb(48, 78, 78);
    font-family: "Basic Commercial", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.85;
    text-align: justify;
  text-justify: inter-word;
}





/* The Modal (background) */
.modal {
  z-index: 10000;
  bottom: 0;
  left: 0;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


  @media only screen and (max-width: 960px) {
    .swiper-slide {
      font-size: 18px;
      height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0px 30px 0px;
    }
    
      
    .module {
      height: calc(var(--vh, 1vh) * 100);
      flex-direction: column;
    }
    .module__item_map {
      height: 60%;
    }
    .module_info {
      height: 40%;
      width: 100%;
     
    }

    .logo {
      margin: 20px 20px 5px;
      height: 22vh;
        width: 16.92vh;
  }
    
    .title {
      text-align: center;
      padding: 10px 0px 0px;
      margin: 0px;
      tab-size: 1;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      color: rgb(0, 38, 37);
      font-family: "Charter BT", serif;
      font-size: 1.0rem;
      font-weight: 700;
      line-height: 1.2;
  }
  
  .description {
      padding: 0px;
      margin: 10px 20px 0px;
      overflow-wrap: break-word;
      color: rgb(48, 78, 78);
      font-family: "Basic Commercial", sans-serif;
      font-size: 0.7rem;
      font-weight: 100;
      line-height: 1.85;
  }

    #legend {
      display: none
    }

  }

  .loader {
    z-index: 100002;
    position: fixed;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(230, 230, 230, 1));
    background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
}
  
  .duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
    
  }
  
  .duo, .dot {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .duo1 {
    left: 0;
  }
  
  .duo2 {
    left: 30px
  }
  
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #333;
    position: absolute;
  }
  
  .dot-a {
    left: 0px;  
  }
  
  .dot-b {
    right: 0px;
  }
  
  
  @keyframes spin {
      0% { transform: rotate(0deg) }
     50% { transform: rotate(180deg) }
    100% { transform: rotate(180deg) }
  }
  
  @keyframes onOff {
      0% { opacity: 0; }
     49% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 1; }
  }
  
  .duo1 {
    animation-name: spin;
  }
  
  .duo2 {
    animation-name: spin;
    animation-direction: reverse;
  }
  
  .duo2 .dot-b {
    animation-name: onOff;
  }
  
  .duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
  }

  .subtitle {
    text-align: center;
  }